---
layout: null
---

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="author" content="Michael E. Rose" >
  <title>Michael E. Rose</title>

  <meta name="keywords" content="Economics,Innovation,Science,Economics of Science" />
  <meta name="description" content="Michael E. Rose, Post-Doctoral Researcher, Max Planck Institute for Innovation and Competition" />
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <meta http-equiv="content-language" content="en" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <meta property="og:url" content="http://michael-e-ro.se/">
  <meta property="og:title" content="Start">
  <meta property="og:description" content="Michael E. Rose, Post-Doctoral Researcher, MPI for Innovation and Competition">
  <meta property="og:site_name" content="Michael E. Rose">

  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css">
  <link rel="stylesheet" href="css/custom.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.1.1/animate.min.css"/>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css">
  <script src="https://cdnjs.cloudflare.com/ajax/libs/wow/1.1.2/wow.min.js"></script>
  <script>
    new WOW({
      boxClass: 'wow',
      animateClass: 'animate__animated',
      offset: 0,
      mobile: true,
      live: true
    }).init();
  </script>


</head>

<body>
  <section id="intro">
    <header class="bg-dark py-5 mb-4">
      <div class="container">
        <h1 class="mb-2">Michael E. Rose</h1>
        <p class="mb-0">Economics of Science &middot; Innovation Economics &middot; Natural Language Processing &middot; Digital Transformation</p>
      </div>
    </header>

    <!-- Intro -->
    <div class="container">
      <div class="row">
        <div class="col-md-8">
          <p>Welcome and <em>Moin</em>! I am a Post-Doctoral Researcher at the Max Planck Institute for Innovation and Competition in Munich.</p>
          <!-- <p>I'm also a Research Affiliate of the Kiel Institute for the World Economy.</p> -->
          <br><br>
          <form type="button" class="btn btn-secondary" action="https://www.dropbox.com/s/xwhx7l91hxi513a/CV_MERose.pdf" target="_blank">
            <input type="hidden" name="raw" value="1" />
            <input type="submit" value="Curriculum Vitae" />
          </form>
          <form type="button" class="btn btn-secondary" action="https://drive.google.com/file/d/1xA9R1Ntv2OluD-sKhSr41zQ_azlFitbD/view?usp=sharing" target="_blank">
            <input type="hidden" name="raw" value="1" />
            <input type="submit" value="Research Statement" />
          </form>

        </div>
        <div class="col-md-4 text-end">
          <img src="img/main.jpg" class="portrait" alt="Portrait of Michael E. Rose">
        </div>
      </div>
    </div>
  </section>

  <section id="research" class="mb-5">
    <div class="container wow animate__fadeIn" data-wow-duration="1s" data-wow-delay="0.3s">

      {% for section in site.data.publications %}
        <h1><b>{{ section.section }}</b></h1>

        {% for p in section.entries %}
          <details class="paper">
            <summary>
              <i class="fas fa-chevron-right chevron" aria-hidden="true"></i>
              <span class="papertitle">
                [<em>{{ p.type }}</em>]
                {% if p.article_url %}
                  <a href="{{ p.article_url }}" target="_blank">{{ p.title }}</a>
                  <a href="{{ p.article_url }}" target="_blank" class="external-link" aria-label="Open article in new tab">
                    <i class="fas fa-arrow-up-right-from-square" aria-hidden="true"></i>
                  </a>
                {% else %}
                  {{ p.title }}
                {% endif %}
                {% if p.journal %}
                  <span class="paper-journal"> – {{ p.journal }}</span>
                {% endif %}
              </span>
            </summary>
            <div class="paper-body">

              {% if p.authors %}
                <p class="text-start"><i class="fa fa-users"></i> {{ p.authors }}</p>
              {% endif %}

              {% if p.links %}
                <p class="text-start">
                  {% for link in p.links %}
                    {% assign t = link.type %}

                    {% case t %}
                      {% when "blog" %}
                        <i class="fas fa-blog"></i>
                      {% when "replication" %}
                        <i class="fab fa-github"></i>
                      {% when "data" %}
                        <i class="fas fa-archive"></i>
                      {% when "slides" %}
                        <i class="fab fa-slideshare"></i>
                      {% when "documentation" %}
                        <i class="fas fa-book"></i>
                      {% when "code" %}
                        <i class="fab fa-github"></i>
                      {% when "website" %}
                        <i class="far fa-bookmark"></i>
                      {% when "media" %}
                        <i class="fas fa-bullhorn"></i>
                    {% endcase %}

                    <a href="{{ link.url }}" target="_blank">{{ link.label }}</a>

                    {% unless forloop.last %}
                      &nbsp;&nbsp;&nbsp;
                    {% endunless %}
                  {% endfor %}
                </p>
              {% endif %}

            </div>
          </details>
        {% endfor %}

        <br>
      {% endfor %}

    </div>
  </section>

  <section id="software" class="mb-5">
    <div class="container wow animate__fadeIn" data-wow-duration="1s" data-wow-delay="0.3s">

      <h1><b>Software</b></h1>
      <details class="paper">
        <summary>
          <i class="fas fa-chevron-right chevron" aria-hidden="true"></i>
          <span class="papertitle">
            pybliometrics <i>(formerly scopus)</i>
          </span>
        </summary>
        <div class="paper-body">
          <p class="text-start"><a href="http://kitchingroup.cheme.cmu.edu/" target="_blank">John Kitchin</a> and I develop pybliometrics, being a Python module for easy, large-scale interaction with Elsevier's Scopus bibliometric database.</p>
          <p class="text-start"><a href="https://pybliometrics.readthedocs.io/en/stable/" target="_blank"><i class="fas fa-book"></i> Software Documentation</a> &nbsp;&nbsp;&nbsp; <a href="https://github.com/pybliometrics-dev/pybliometrics" target="_blank"><i class="fab fa-github"></i> Software repository</a></p>
          <p class="text-start"><a href="https://www.sciencedirect.com/science/article/pii/S2352711019300573" target="_blank"><i class="far fa-newspaper"></i> SoftwareX 10 (July-December 2019) p. 100263</a></p>
        </div>
      </details>
      <details class="paper">
        <summary>
          <i class="fas fa-chevron-right chevron" aria-hidden="true"></i>
          <span class="papertitle">
            sosia
          </span>
        </summary>
        <div class="paper-body">
          <p class="text-start">Stefano Baruffaldi and I develop sosia, a Python module to match researchers online in the Scopus database (useful for Diff-in-Diff analysis).</p>
          <p class="text-start"><a href="https://sosia.readthedocs.io/en/stable/" target="_blank"><i class="fas fa-book"></i> Software Documentation</a> &nbsp;&nbsp;&nbsp; <a href="https://github.com/sosia-dev/sosia" target="_blank"><i class="fab fa-github"></i> Software repository</a></p>
        </div>
      </details>
      <details class="paper">
        <summary>
          <i class="fas fa-chevron-right chevron" aria-hidden="true"></i>
          <span class="papertitle">
            scholarmetrics
          </span>
        </summary>
        <div class="paper-body">
          <p class="text-start">I develop scholarmetrics, a python package for fast computation of citation metrics.</p>
          <p class="text-start"><a href="https://scholarmetrics.readthedocs.io/en/stable/" target="_blank"><i class="fas fa-book"></i> Software Documentation</a> &nbsp;&nbsp;&nbsp; <a href="https://github.com/Michael-E-Rose/scholarmetrics" target="_blank"><i class="fab fa-github"></i> Software repository</a></p>
        </div>
      </details>
    </div>
  </section>

  <section id="data" class="mb-5">
    <div class="container wow animate__fadeIn" data-wow-duration="1s" data-wow-delay="0.3s">
      <h1><b>Data Sharing</b></h1>
      <p>I believe in data sharing. Here is my contribution:</p>
      <ul>
        <li style="margin:5px 0;"><a href="https://edmond.mpg.de/dataset.xhtml?persistentId=doi:10.17617/3.BHU4FY" target="_blank">Gender composition by academic field</a></li>
        <li style="margin:5px 0;"><a href="https://edmond.mpg.de/dataset.xhtml?persistentId=doi:10.17617/3.ES5ZSC" target="_blank">Pat-SPECTER embeddings for Patstat 2023 Fall (USPTO and EPO)</a></li>
        <li style="margin:5px 0;"><a href="https://edmond.mpg.de/dataset.xhtml?persistentId=doi:10.17617/3.BGRPMI" target="_blank">PaECTER embeddings for Patstat 2023 Fall (USPTO and EPO)</a></li>
        <li style="margin:5px 0;"><a href="https://github.com/Michael-E-Rose/CoFE" target="_blank">CoFE - Collaboration in Financial Economics. Informal Collaboration among 14k researchers revealed through acknowledgements</a></li>
        <li style="margin:5px 0;"><a href="https://doi.org/10.7910/DVN/ADSCLU" target="_blank">Economics Graduates North-America 1997-2017 with RePEc handles and Scopus IDs</a></li>
        <li style="margin:5px 0;"><a href="https://github.com/Michael-E-Rose/HasselbackFacultyRoster" target="_blank">Faculty Memberships in Econ, Finance, Mgmt and Account 2000-2004 following James Hasselback's Faculty Rosters</a></li>
        <li style="margin:5px 0;"><a href="https://github.com/Michael-E-Rose/TilburgEconomicsRanking" target="_blank">Compiled data of the Tilburg University Top Worldwide Economics Schools Research Rankings (continuously updated!)</a></li>
        <li style="margin:5px 0;"><a href="https://github.com/Michael-E-Rose/SCImagoJournalRankIndicators" target="_blank">SCImago Journal Rank Indicators for Journals since 1999 (continuously updated!)</a></li>
        <li style="margin:5px 0;"><a href="https://github.com/Michael-E-Rose/NBERSummerInstitutes" target="_blank">All the presentations from the NBER Summer Institutes from 2000 through 2019</a></li>
      </ul>
    </div>
  </section>

  <section id="recommendations" class="mb-5">
    <div class="container wow animate__FadeIn" data-wow-duration="1s" data-wow-delay="0.3s">
      <h1><b>Learning from the Masters</b></h1>
      <p>Being an empirical researcher, I'd like to recommend a number of "manuals" that helped me set foot in the academic world:</p>
      <ul>
        <li style="margin:5px 0;"> <a href="http://web.stanford.edu/%7Egentzkow/research/CodeAndData.pdf" target="_blank">"Code and Data for the Social Sciences: A Practitioner's Guide"</a>, by J. Shapiro and M. Gentzkow</li>
        <li style="margin:5px 0;"><a href="https://www.johnhcochrane.com/s/phd_paper_writing.pdf" target="_blank">"Writing Tips for Ph. D. Students"</a>, by J. Cochrane</li>
        <li style="margin:5px 0;">"Some Research and Writing Tips", <a href="http://papers.ssrn.com/sol3/papers.cfm?abstract_id=2541366" target="_blank">Part 1 (Research)</a> and <a href="http://papers.ssrn.com/sol3/papers.cfm?abstract_id=2552669" target="_blank">Part 2 (Writing)</a>, by B. Jacobsen</li>
        <li style="margin:5px 0;"><a href="http://www.greenteapress.com/thinkpython/" target="_blank">"Think Python: How to Think Like a Computer Scientist"</a>, by A. Downey</li>
      </ul>
    </div>
  </section>

  <footer class="border-top bg-light py-4 mt-5">
    <section id="contact">
      <h3><strong><span class="black">Contact | Other Pages</span></strong></h3>
      <p>
        <a href="mailto:Michael.Rose@ip.mpg.de"><i class="fa fa-envelope black"></i> Michael.Rose@ip.mpg.de</a> &nbsp;&nbsp;&nbsp;&nbsp; <i class="fab fa-linkedin black"></i><a href="https://za.linkedin.com/pub/michael-e-rose/b9/731/91a" target="_blank"> LinkedIn</a> &nbsp;&nbsp;&nbsp;&nbsp; <i class="fab fa-github-square black"></i><a href="https://github.com/Michael-E-Rose" target="_blank"> GitHub</a> &nbsp;&nbsp;&nbsp;&nbsp; <i class="fab fa-stack-overflow black"></i><a href="https://stackoverflow.com/users/3621464/merose" target="_blank"> Stack Overflow</a> &nbsp;&nbsp;&nbsp;&nbsp; <i class="fab fa-twitter black"></i><a href="https://twitter.com/Michael_E_Rose" target="_blank"> twitter</a></span>
      </p>
    </section>
  </footer>

</body>

</html>
